#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    font-size: 13px;
}
td{
    padding: 10px 30px;
}
img{
    width: 150px;
    height: 150px;
}

