<br><br>
<div id="wrapper">
    <img src="{{img_url}}{{certificate_data.std_image}}"><br>

    <table border="1" rules="all" width="30%" [cellPadding]="5">
        <tr>
            <td align="right"><b>Name :</b></td>
            <td>{{certificate_data.std_name}}</td>
        </tr>
        <tr>
            <td align="right"><b>Registration No :</b></td>
            <td>{{certificate_data.std_rigistration_no}}</td>
        </tr>
        <tr>
            <td align="right"><b>Center Code :</b></td>
            <td>{{certificate_data.std_center_code}}</td>
        </tr>
        <tr>
            <td align="right"><b>Center name :</b></td>
            <td>{{certificate_data.std_center_name}}</td>
        </tr>
        <tr>
            <td align="right"><b>Certificate No :</b></td>
            <td>{{certificate_data.std_certificate_no}}</td>
        </tr>
        <tr>
            <td align="right"><b>Course :</b></td>
            <td>{{certificate_data.course_id_fk}}</td>
        </tr>
        <tr>
            <td align="right"><b>Issue Date :</b></td>
            <td>{{certificate_data.std_rigistration_date}}</td>
        </tr>
        <tr>
            <td align="right"><a href="{{img_url}}{{certificate_data.std_gen_certificate}}"><button mat-raised-button
                        color="primary">Download</button></a> </td>
            <td><button mat-raised-button color="primary" routerLink="">Back</button></td>
        </tr>
    </table>
</div>