<br><br>
<form [formGroup]="certificate_form">
    <h1>Certificate Verification</h1><br>
    <mat-form-field class="example-full-width">
        <mat-label>Center Code</mat-label>
        <input matInput placeholder="Center Code" formControlName="std_center_code">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Certificate No</mat-label>
        <input matInput placeholder="Certificate No" formControlName="std_certificate_no">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onverfiy()" [disabled]="!this.certificate_form.valid">Verify</button>
</form>